/*
 * Navbar settings.
 */
ul.nav.navbar-nav {
  float: right;
}

li.create-account > a {
  color: #fff !important;
}

/*
 * Index page settings.
 */
.index .jumbotron {
  margin-top: 2em;
}

.index button {
  margin-top: 4em;
  font-size: 1em;
}
